# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea
.save

# virtualenv
.venv
env
venv
venv/
ENV/

# Flask stuff:
instance/
.webassets-cache__pycache__

*.coverage
*.db
*.pyc

htmlcov
migrations

.DS_Store
