{% extends "bootstrap/base.html" %}
<div class="container">
    {% block navbar %}
    <div class="navbar navbar-fixed-top">
        <!-- ... -->
    </div>
    {% endblock %}
    <!-- child template -->
    {% block content %}{% endblock %}

    {% block errors %}
    <!-- errors -->
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    {% endblock %}

    {% block messages %}
    <!-- messages -->
    {% for message in get_flashed_messages() %}
    <p class="message">{{ message }}</p>
    {% endfor %}
    {% endblock %}

</div>






