<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>

    <div class="container">

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <!-- messages -->
      {% for message in get_flashed_messages() %}
      <p class="message">{{ message }}</p>
      {% endfor %}
    </div>
  </body>
</html>